<h1>Employee List</h1>
<form [formGroup]="searchForm">
  <div class="form-group">
    <label for="searchName">Search Name</label>
    <input id="searchName" class="form-control" formControlName="searchText" type="text">
  </div>
  <button type="submit" (click)="onSearch()" class="btn btn-primary">Search</button>
</form>
<div *ngIf="employees$ | async as employees">
  <table class="table">
    <thead class="thead-dark">
      <th id="headerNumber" cope="col">#</th>
      <th id="headerName" scope="col">Name</th>
      <th id="headerSalary" scope="col">Salary</th>
      <th id="headerRate" scope="col">Rate</th>
      <th id="headerAge" scope="col">Age</th>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; trackBy:trackById">
        <th scope="row">{{employee.id}}</th>
        <td>{{employee.name}}</td>
        <td>{{employee.salary | currency: '$'}}</td>
        <td>{{employee.salary | rate | currency: '$'}}</td>
        <td>{{employee.age}}</td>
      </tr>
    </tbody>
  </table>
</div>
